<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.progym"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <uses-feature 
          android:name="@string/step_detector" android:required="false"/>
    
    <uses-feature 
           android:name="@string/step_counter" android:required="false"/>
    
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_2"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        
        <!-- ========================== Startup Activity ========================== -->
        
        <!-- Activity_Home -->
        <activity
            android:name="com.application.progym.activities.Activity_Home"
            android:label="@string/app_name" >
            
            <!-- Set as startup Activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>        
        </activity>
        
        <!-- ==========================  Activities: Utilities ========================== -->
         
        <!-- Activity_Utility_HeartbeatCounter -->
        <activity
            android:name="com.application.progym.activities.Activity_Utility_HeartbeatCounter"
            android:label="@string/activity_utility_heartbeatcounter" >                      
        </activity>
        
        <!-- Activity_Utility_Pedometer -->
        <activity
            android:name="com.application.progym.activities.Activity_Utility_Pedometer"
            android:label="@string/activity_utility_pedometer" >                      
        </activity>
        
        <!-- Activity_Utility_Stopwatch -->
        <activity
            android:name="com.application.progym.activities.Activity_Utility_Stopwatch"
            android:label="@string/activity_utility_stopwatch" >                      
        </activity>
        
        <!-- Activity_Utility_Timer -->
        <activity
            android:name="com.application.progym.activities.Activity_Utility_Timer"
            android:label="@string/activity_utility_timer" >                      
        </activity>
        
        <!-- ==========================  Activities: Workouts ========================== -->

        <!-- Activity_Workout_Arms -->
        <activity
            android:name="com.application.progym.activities.Activity_Workout_Arms"
            android:label="@string/activity_workout_arms" >                      
        </activity>
        
        <!-- Activity_Workout_Core -->
        <activity
            android:name="com.application.progym.activities.Activity_Workout_Core"
            android:label="@string/activity_workout_core" >                      
        </activity>
        
        <!-- Activity_Workout_Legs -->
        <activity
            android:name="com.application.progym.activities.Activity_Workout_Legs"
            android:label="@string/activity_workout_legs" >                      
        </activity>
        
        <!-- Activity_Workout_UpperBody -->
        <activity
            android:name="com.application.progym.activities.Activity_Workout_Upperbody"
            android:label="@string/activity_workout_upperbody" >                      
        </activity>
        
        <!-- Activity_Workout_Cardio -->
        <activity
            android:name="com.application.progym.activities.Activity_Workout_Cardio"
            android:label="@string/activity_workout_cardio" >                      
        </activity>
        
        <!-- ========================= Home Screen Activities =======================  -->
        
        <!-- Activity_Workouts -->
        <activity
            android:name="com.application.progym.activities.Activity_Workouts"
            android:label="@string/activity_workouts" >                      
        </activity>
        
        <!-- Activity_Utilities -->
        <activity
            android:name="com.application.progym.activities.Activity_Utilities"
            android:label="@string/activity_utilities" >                      
        </activity>
        
        <!-- Activity_CalorieCounter -->
        <activity
            android:name="com.application.progym.activities.Activity_CalorieTracker"
            android:label="@string/activity_calorie_counter" >                      
        </activity>
        
        <!-- Activity_Run -->
        <activity
            android:name="com.application.progym.activities.Activity_Run"
            android:label="@string/activity_run" >                      
        </activity>
        
        <!-- Activity_Advice -->
        <activity
            android:name="com.application.progym.activities.Activity_Advice"
            android:label="@string/activity_advice" >                      
        </activity>
        
        <!-- ========================== Menu Bar Activities ========================== -->
        
        <!-- Activity_Help -->
        <activity
            android:name="com.application.progym.activities.menubar.Activity_Help"
            android:label="@string/action_help" >                      
        </activity>
        
        <!-- Activity_About -->
        <activity
            android:name="com.application.progym.activities.menubar.Activity_About"
            android:label="@string/action_about" >                      
        </activity>
        
        <!-- Activity_Preferences -->
        <activity
            android:name="com.application.progym.activities.menubar.Activity_Preferences"
            android:label="@string/action_preferences" >                      
        </activity>
        
        <!-- Activity_Update -->
        <activity
            android:name="com.application.progym.activities.menubar.Activity_Update"
            android:label="@string/action_update" >                      
        </activity>
        
    </application>

</manifest>
